.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 750px;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
header{
  background-color: white;
  padding: 2% 0%;
  font-size: 5.5vw;
  font-family: 'Satisfy', cursive;
  border-radius: 50px;
  letter-spacing: 8px;
  text-decoration: underline;
}
.cat-finder{
  padding: 4% 0%;
  border-radius: 50px;
  font-size: 1.4rem;
  background-color: white;
}
.cat-finder img {
  border-radius: 50px;
  max-height: 420px;
}
p{
  padding: 0 2%;
  text-align: center;
  margin-bottom: 0px;
}
#cat-photo{
  width: 65%;
}
.cat-finder-wrapper{
  width: 90%;
  padding: 1.5%;
  background: black;
  border-radius: 56px;
  margin: 2.5% auto;
  animation: gradient 15s ease infinite;
}
.header-wrapper{
  width:90%;
  padding: 1.5%;
  background: black;
  border-radius: 50px;
  margin: 2.5% auto;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* 
Animation credit to CodePen:
https://codepen.io/P1N2O/pen/pyBNzX
*/